<div class="col-md-1"></div>
<div class="col-md-5">
  <div class="panel panel-default">
    <div class="panel-body">
<h3>Editing Product</h3>

<%= render 'form',  product: @product %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>